__pycache__/
*.py[cod]
*$py.class

venv/

dist/
build/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

*.log

build/
dist/
*.spec

~$*.xlsx

resultado.xlsx

pip-log.txt
*.bak
*.tmp

coverage/
htmlcov/
.tox/
.pytest_cache/

.env
.env.*

requirements-dev.txt
